/* inicio navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #2e2d2d;
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
}

ul {
  display: flex;
  margin-bottom: 2vh;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  font-size: 20px;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: underline;
  font-size: 21px;
  color: #ffd700;
}

/* mobile */

.menu {
  margin: 1rem;
}

.mobile-button {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.menu {
  display: none;
}

.sidebar {
  background-color: #2e2d2d;
  width: 8rem;
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #ffd700;
  display: none;
  transition: right 0.3s ease;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  margin-top: 2rem;
}

.sidebar li {
  margin-top: 3rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: #ffd700;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* oculta o menu desktop e exibe ícone mobile em telas pequenas */
  ul {
    display: none;
  }
  .menu {
    display: block;
  }
  nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

/* fim navbar */

/* corpo do site */

body {
  background-color: darkgrey;
}

article {
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  max-width: 50rem;
}

h2 {
  margin-bottom: 3rem;
  font-size: 50px;
}

main ul {
  display: block;
  flex-direction: column;
  padding-left: 20px;
}

main li {
  display: list-item;
  margin-bottom: 20px;
  list-style: none;
  color: aliceblue;
  font-size: 20px;
}

/* Blocos com formações (academica e cursos) */
.bloco-formacao {
  background-color: #3d3d3d;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
}

.bloco-formacao h3 {
  font-size: 28px;
  margin-bottom: 1rem;
  color: #ffd700;
}

.bloco-formacao p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.lista-cursos {
  list-style: square;
  padding-left: 2rem;
}

.lista-cursos li {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

/* fim do corpo  */

/* isso aqui deixa a seleção customizada */
::selection {
  background: #ffd700;
  color: black;
}
