/* inicio navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2e2d2d;
    min-height: 10vh;
    display: flex;
    align-items: flex-end;

}

ul {
    display: flex;
    margin-bottom: 2vh;
    list-style: none;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-size: 20px;
    color: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease;
}

a:hover {
  text-decoration: underline;
  font-size: 21px;
  color: #ffd700;
}

/* fim navbar */




/* isso aqui deixa a seleção customizada */
::selection {
  background: #ffd700; 
  color: black;       
}